@using Bike2Ride.WebClient.ViewModels
@model MapViewModel

<div id="map"></div>

@section Styles {
    @Styles.Render("~/Content/map")
}

@section ScriptsTop {
    @Scripts.Render("~/bundles/map")
}

@section Scripts {
    <script>
        mapProperty.center = (@Html.Raw(Json.Encode(Model.Center)));
        mapProperty.zoomLevel = (@Html.Raw(Json.Encode(Model.ZoomLevel)));
        mapProperty.stations = (@Html.Raw(Json.Encode(Model.Stations)));
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMWXcjYwHQEPTBBmpbBIVO6_RBtrGNwzY&callback=initMap" async defer>
    </script>
}
