<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html" ;
          charset="utf-8" />

    <meta name="viewport"
          content="width=device-width" ,
          initial-scale="1.0">

    <title>@ViewBag.Title - Bike2Ride</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <a href="#"
               data-activates="nav-mobile"
               class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <div class="nav-wrapper container">
                @Html.ActionLink(
                "Bike2Ride",
                "Index",
                "Home",
                new { area = "" },
                new { id = "logo-container", @class = "brand-logo center" })

                <ul class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <ul id="nav-mobile" class="side-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li><div class="divider"></div></li>
        @Html.Partial("_LoginPartial")
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - <a class="brown-text text-lighten-3"
                                           href="https://github.com/ludzhev/Bike2Ride.WebClient">Bike2Ride</a>.
            Made by <a class="brown-text text-lighten-3"
                       href="https://github.com/ludzhev">ludzhev</a>
        </div>
    </div>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
</body>
</html>
